p {
    font-size: 300%;
}
/* pound signs are used to differentiate IDs */
#payment-options {
    font-style: italic;
    color: blue;
}
/* Periods are used to differentiate Classes */
.fill-out {
    color:crimson;
}
.bluebox {
    /* background-image: url(css/max\ q.png); */
    background-color: blue;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 100px;
    width: auto;
    /* padding: 16px;
    border: 16px #e8c14e ridge;
    outline-style: solid;
    outline-color: #bc8df5;
    outline-width: thick; */
    /* visibility: hidden; */
    /* display: none; */
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    background: linear-gradient(blue, white);
}
.bluebox:hover {
    overflow: scroll;
}
.yellowbox {
    background-image: url(css/max\ q.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: bottom;
    height: 100px;
    width: 400px;
    text-decoration: underline;
    text-indent: 10px;
    overflow: hidden;
    /* padding: 16px 5px 5px 16px;
    border-width: 18px 15px 5px 18px;
    border-color: black green orange;
    margin: 60px 10px 30px 20px;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 0; */
    /* word-break: break-all; */
    /* word-wrap: break-word; */
}
.yellowbox:hover {
    overflow: scroll;
}
.greenbox {
    /* background: radial-gradient(circle, #31af31, white,#31af31); */
    background-color: blue;
    height: auto;
    width: auto;
    padding: 40px 16px;
    text-decoration: overline;
    text-align: center;
    transform: rotate(30deg)
    /* letter-spacing: 10px;
    text-shadow: 20px 10px black; */
    /* border-width: 18px 20px;
    border-style: groove;
    border-color: #28ccb6;
    border-radius: 88px;
    margin: 60px 10px;
    position: absolute;
    top: 40px;
    left: 40px; */
}
.great {
    background-color: #5a3479;
    /* display: block; */
}
p {
    margin: 0;

}

.image1 {
    width: 200px;
    height: 150px;
    opacity: 0.4;
    margin-right: 30px;
}

.image2 {
    width: 200px;
    height: 150px;
    opacity: 1;
}
ul.list1 {
    /* list-style: square; */
    list-style: lower-roman;
}
ul.list2 {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.list2 li {
    background-image: url(css/STS120LaunchHiRes-edit1.jpg);
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 30px;
}
a:link {
    color:black;
}
a:hover {
    font-size: 3em;
    text-shadow: blanchedalmond 50%;
}
/* div.yellowbox a:visited {
    color:crimson;
}*/